<h3>Edit this pet</h3>
<form (submit)='updatePet($event)' method='POST' action='/pets/edit/{{editPet._id}}'>
	<label for='name'>Name:</label>
	<br>
	<input type='text' name='editPet.name' [(ngModel)]='editPet.name'>
	<div *ngIf="formStatus['Pet name is required']">
		<li>{{formStatus['Pet name is required']}}</li>
	</div>
	<br>
	<label for='type'>Type:</label>
	<br>
	<input type='text' name='editPet.type' [(ngModel)]='editPet.type'>
	<div *ngIf="formStatus['Pet type required']">
		<li>{{formStatus['Pet type required']}}</li>
	</div>
	<br>
	<label for='description'>Description:</label>
	<br>
	<textarea name='editPet.description' [(ngModel)]='editPet.description'>{{editPet.description}}</textarea>
	<div *ngIf="formStatus['Pet description is required']">
		<li>{{formStatus['Pet description is required']}}</li>
	</div>
	<br>
	<label for='skills'>Skills (optional):</label>
	<br>
	<label for='skill_1'>Skill 1</label>
	<input type='text' name='editPet.skill_1' [(ngModel)]='editPet.skill_1'>
	<br>
	<label for='skill_2'>Skill 2</label>
	<input type='text' name='editPet.skill_2' [(ngModel)]='editPet.skill_2'>
	<br>
	<label for='skill_3'>Skill 3</label>
	<input type='text' name='editPet.skill_3' [(ngModel)]='editPet.skill_3'>
	<br>
	<input type='submit' value='Edit Pet'>
	<button (click)="cancelEditPet($event)">Cancel</button>
</form>